<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<div id="login-container">
    <div>
        <h1 class="title">Register Form</h1>
        <form th:method="post" th:action="@{/register}" th:object="${member}">
            <div>
                <input type="text" placeholder="Login"
                       name="username" th:field="*{login}"/>
                <span style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error</span>
            </div>
            <div>
                <input type="text" placeholder="First name"
                       name="firstName" th:field="*{firstName}"/>
                <span style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</span>
            </div>
            <div>
                <input type="text" placeholder="Last name"
                       name="lastName" th:field="*{lastName}"/>
                <span style="color:red" th:if="${#fields.hasErrors('lastName')}"
                      th:errors="*{lastName}">Last name error</span>
            </div>
            <div>
                <input type="password" placeholder="Password"
                       name="password" th:field="*{password}">
                <span style="color:red" th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}">Password error</span>
            </div>
            <button type="submit">Register</button>
            <a href="/login">Login page</a>
            <div>
                <strong style="color:red" th:text="${message}"> </strong>
            </div>
        </form>
    </div>
</div>
</body>
</html>